@page "/prioridades"
@inject PrioridadesServices prioridadesServices
@attribute [StreamRendering]

<PageTitle>Consulta Prioridades</PageTitle>

<div class=" container">

    <div class="card shadow-lg">
        
        <div class="card-header">
           <h3><strong>Consulta Personas</strong></h3>
            <div class="d-flex align-items-start " >
               
                <div class="px-2">
                    <a href="/P_Create"><em >Crear</em></a>
                    
                </div>
                <a href="/P_Details"><em>Detalles</em></a>
            </div>
        </div>



    <div class="table-responsive">



        <table class="table table-striped table-bordered">
            <thead>
                 <tr>
                    <th>ID</th>
                    <th>Descripcion</th>
                     <th>Dias Comprometidos</th>
                 </tr>
            </thead>
            <tbody>
                 @foreach (var item in ListaPrioridades)
                    {
                        <tr>
                            <td>@item.PriodidadID</td>
                             <td>@item.Descripcion</td>
                            <td>@item.DiasComprometidos</td>
                   
                        </tr>
                    }
             </tbody>

         
        </table>
    </div>
</div>
</div>


@code {
    public Prioridades prioridades { get; set; } = new Prioridades();
    public int filtrar { get; set; }
    public List<Prioridades> ListaPrioridades { get; set; } = new List<Prioridades>();

    protected override async void OnInitialized()
    {
        ListaPrioridades = await prioridadesServices.GetList(l => true);
    }


}
