@page "/R_Clientes"
@page "/R_Clientes/{ClienteID:int}";
@rendermode InteractiveServer
@inject ClientesBLL clientesBLL;

<EditForm Model="cliente" OnValidSubmit="Guardar">
    <div class="card">
        <div class="card-header">
            <h1>Registro Clientes</h1>
        </div>
        <div class="card-body">
            <label>IDCliente:</label>
            <div class="input-group">
                <InputNumber @bind-Value="cliente.ClienteId" class="id-input"></InputNumber>
                <button type="button" class="bi bi-binoculars-fill" @onclick="Buscar"></button>
            </div>
            <div>
                <label>Nombres:</label>
                <InputText @bind-Value="cliente.Nombres" class="form-control"></InputText>
                
                @if (ExisteN)
                {
                    <p class="text-danger">Ya existe un cliente con este Nombre.</p>
                }
            </div>
            <div>
                <label>Telefono:</label>
                <InputNumber @bind-Value="cliente.Telefono" class="form-control"></InputNumber>
               

            </div>
            <div>
                <label>Celular:</label>
                <InputNumber @bind-Value="cliente.Celular" class="form-control"></InputNumber>
            </div>
            <div>
                <label>RNC:</label>
                <InputText @bind-Value="cliente.RNC" class="form-control"></InputText>

                @if (ExisteR)
                {
                    <p class="text-danger">Ya existe un cliente con este RNC.</p>
                }
            </div>
            <div>
                <label>Email:</label>
                <InputText @bind-Value="cliente.Email" class="form-control"></InputText>

                
            </div>
            <div>
                <label>Direccion:</label>
                <InputText @bind-Value="cliente.Direccion" class="form-control"></InputText>

              
            </div>
        </div>
        <div class="card-footer">
            <button type="button" class="btn btn-primary" @onclick="Nuevo">Nuevo <i class="bi bi-file-earmark-diff-fill" /></button>
            <button type="submit" class="btn btn-success"> Guardar<i class="bi bi-floppy-fill" /></button>
            <button type="button" class="btn btn-danger" @onclick="Eliminar">Eliminar <i class="bi bi-trash-fill" /></button>
        </div>
    </div>
</EditForm>


@code {
    [Parameter]
    public int ClienteId { get; set; }

    public Clientes cliente { get; set; } = new Clientes();

    private bool ExisteN = false;
    private bool ExisteR = false;
    private string Mensaje;
    private string t = " ";

    protected override void OnInitialized()
    {
        if (ClienteId > 0)
        {
            this.cliente.ClienteId = ClienteId;
            this.Buscar();
        }
    }

    public async Task Buscar()
    {
        var clienteEncontrado = await clientesBLL.Buscar(cliente.ClienteId);
        if (clienteEncontrado != null)
        {
            this.cliente = clienteEncontrado;
        }
    }

    void Nuevo()
    {
        this.cliente = new Clientes();

    }

    public async Task<bool> Validar()
    {
        ExisteN = (await clientesBLL.GetList(c => c.Nombres!.ToLower() == cliente.Nombres!.ToLower()
         && c.ClienteId != cliente.ClienteId)).Any();
        return ExisteN;

        ExisteR = (await clientesBLL.GetList(c => c.RNC!.ToLower() == cliente.RNC!.ToLower()
         && c.ClienteId != cliente.ClienteId)).Any();
        return ExisteR;
    }

    public async Task Guardar()
    {
        if (await Validar())
        {
            return;
        }
        if (await clientesBLL.Guardar(this.cliente))
        {
            this.Nuevo();
        }
    }

    public async Task Eliminar()
    {
        var eliminado = await clientesBLL.Eliminar(cliente.ClienteId);
        if (eliminado)
        {
            Mensaje = "Se elimino Correctamente";
            Nuevo();
        }
        else
        {
            Mensaje = "No se Puedo eliminar";
        }
    }
}
